*::-webkit-scrollbar{
    width: 2px;
    
}
*::-webkit-scrollbar-track{
    background-color: rgb(97, 97, 97);
    
}
*::-webkit-scrollbar-thumb{
   background-color: rgba(10, 218, 255, 0.829);
   border-radius: 20px;
   border: transparent;
   
}